<!DOCTYPE html>
<html lang="en">

<head>

    <%- include('../partials/head.ejs'); %>

    <title>Search Results for <%- word %> | gcamapkfor.com</title>
    <meta name="keyword" content="<%- word %>" />
    <meta name="description" content="This page provide every search results about <%- word %>.">
    
    <meta property="og:title" content="Search Results for <%- word %> | gcamapkfor.com" />
    <meta property="og:url" content="https://gcamapkfor.com/search/<%- word %>?page=1" />
    <meta property="og:description" content="This page provide every search results about <%- word %>." />
    <meta property="og:site_name" content="gcamapkfor.com" />

   
   <%- include('../partials/css.ejs'); %>


    <style type="text/css">

        .pagination {
            width: 100%;
            height: auto;
            margin-top: 80px;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            background-color: rgb(196, 196, 196);
        }


          </style>

</head>


<body>
    <%- include('../partials/header_nav.ejs'); %>

    <div class="area">
        <div class="word-search">
            
            <div class="home-page-header-title">
                Search for Solutions
              </div>
            <form method="get" action="">
                <label>
                    <input type="text" name="query" id="query" value="<%= word.replace(/-/g, ' ') %>" placeholder="Type...">
                </label>
                <button>Search</button>
            </form>
        </div>



        




        <!--meaning output section-->
        <div class="main">

            
            <div id="related_links" class="outputs">

                <h4>Search Results for "<%- word %>"</h4>

                <% for (let element of info.data) {%>
                        <br>
                        <%- `<a class="links" href="/${element.brand.toLowerCase()}/${element.url}">${element.phone_title}</a> <br>` %>
                <% } %>



                <div class="pagination">
                    <% for (let no of page_no) {%>
                        <div class="numbers">
                            <%- `<a href="/search/${word}?page=${no}">${no}</a> <br>` %>
                        </div>

                    <% } %>
                </div>

            </div>

            <!-- below main dev ends -->
        </div>


        <aside>
            <div class="box">
                <div class="head">
                    <h3>Tags</h3>
                </div>
                <div class="content">
                    <ul>
                        <li> <a href="/tag/flask?page=1">Flask</a> </li>
                        <li> <a href="/tag/sqlalchemy?page=1">SQLalchemy</a> </li>
                        <li> <a href="/tag/json?page=1">JSON</a> </li>
                        <li> <a href="/tag/scrapy?page=1">Scrapy</a> </li>
                        <li> <a href="/tag/pip?page=1">pip</a> </li>
                        <li> <a href="/tag/installation?page=1">Installation</a> </li>
                        <li> <a href="/tag/virtualenv?page=1">Virtualenv</a> </li>
                        <li> <a href="/tag/ide?page=1">IDE</a> </li>
                    </ul>
                </div>
            </div>
        </aside>




        <%- include('../partials/footer.ejs'); %>




    </div>


    <script type="text/javascript">
        function toggle() {
            var test = document.getElementById("navbar");
            if (test.className == "hidden") {
                test.className = "show";
            } else {
                test.className = "hidden";
            }
        }




    </script>
</body>

</html>

